# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [167]:
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url,sep=',')
# df = df.set_index("Customer")
# print(df)

In [168]:
# remove row 1073 till the end
df = df.dropna(how = 'all')

In [169]:
# check dimensionality of the dataframe object
print(f"This dataset has {df.shape[0]} rows and {df.shape[1]} columns.")

This dataset has 1071 rows and 11 columns.

In [170]:
# check missing values in each column
df.isnull().sum()

Customer                       0
ST                             0
GENDER                       117
Education                      0
Customer Lifetime Value        3
Income                         0
Monthly Premium Auto           0
Number of Open Complaints      0
Policy Type                    0
Vehicle Class                  0
Total Claim Amount             0
dtype: int64

In [171]:
# Nature of the variables----> categorical or numerical

# Customer                    categorical
# ST                          categorical
# GENDER                      categorical
# Education                   categorical
# Customer Lifetime Value     numerical
# Income                      numerical
# Monthly Premium Auto        numerical
# Number of Open Complaints   numerical
# Policy Type                 categorical
# Vehicle Class               categorical
# Total Claim Amount          categorical

In [172]:
# determine data types of each variable in pandas

print(df.dtypes)

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [173]:
# change data types based on the nature of variables

df['Customer Lifetime Value'] = df['Customer Lifetime Value'].str.replace('%','')
df['Customer Lifetime Value'] = pd.to_numeric(df['Customer Lifetime Value'], errors='coerce')

In [174]:
print(df.dtypes)

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value      float64
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [210]:
# Identify the number of unique values for each column and determine which columns appear to be categorical. 
# You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
unique_counts = df.nunique()

print(unique_counts,'\n') 

for col, value in unique_counts.items():
    if value <= 10:
        print(f"{col} seems to be categorical.")
        print(df[col].value_counts(),'\n')

print("There are duplicated values in gender,Education column.")

print('\n',df.describe(),'\n')

print("There are outliers in Monthly Premium Auto column")

Customer                     1071
ST                              5
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

ST seems to be categorical.
ST
California    331
Oregon        320
Arizona       211
Washington    111
Nevada         98
Name: count, dtype: int64

GENDER seems to be categorical.
GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64

Education seems to be categorical.
Education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64

Number of Open Complaints seems to be categorical.
Number of Open Complaints
1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: count, dtype: int64

Policy Type seems to be categorical.
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

Vehicle Class seems to be categorical.
Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64

There are duplicated values in gender,Education column.

        Customer Lifetime Value        Income  Monthly Premium Auto  \
count             1.068000e+03   1071.000000           1071.000000
mean              7.936903e+05  39295.701214            193.234360
std               6.434784e+05  30469.427060           1601.190369
min               2.004351e+05      0.000000             61.000000
25%               4.034080e+05  14072.000000             68.000000
50%               5.881742e+05  36234.000000             83.000000
75%               8.962872e+05  64631.000000            109.500000
max               5.816655e+06  99960.000000          35354.000000

       Total Claim Amount
count         1071.000000
mean           404.986909
std            293.027260
min              0.382107
25%            202.157702
50%            354.729129
75%            532.800000
max           2893.239678

There are outliers in Monthly Premium Auto column

In [211]:
# check if there are duplicated customers----> no duplicate customers 
print(df.duplicated().sum())

0

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [212]:

df['ST'] = df['ST'].replace({'WA':'Washington','AZ':'Arizona','Cali':'California'})

customer_locations = df['ST'].value_counts()

print("top 5 less common locations are: \n",customer_locations.sort_values())

top 5 less common locations are:
 ST
Nevada         98
Washington    111
Arizona       211
Oregon        320
California    331
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [213]:
policy_types = df['Policy Type'].value_counts()
print(policy_types)

print((policy_types.idxmax()),"is the policy type with the highest number of policies sold.")

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64
Personal Auto is the policy type with the highest number of policies sold.

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [214]:
customers_personal_auto = df.loc[df['Policy Type'] == 'Personal Auto']
customers_corporate_auto = df.loc[df['Policy Type'] == 'Corporate Auto']

print(f"The average income of customers owning personal auto is around {int(customers_personal_auto['Income'].mean())} while it is {int(customers_corporate_auto['Income'].mean())} for customers having corporate auto.")

The average income of customers owning personal auto is around 38180 while it is 41390 for customers having corporate auto.

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [215]:
print(df['Total Claim Amount'].quantile(0.75))

532.8

In [219]:
high_claim_customers = df[df['Total Claim Amount'] >= df['Total Claim Amount'].quantile(0.75)]

high_claim_customers['Total Claim Amount'].describe()

count     273.000000
mean      774.005353
std       291.304731
min       532.800000
25%       595.200000
50%       673.342650
75%       844.481918
max      2893.239678
Name: Total Claim Amount, dtype: float64